{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar py-4">
            <div class="sidebar-sticky">
                <h6 class="px-3 text-muted text-uppercase">Admin Panel</h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard_home' %}"><i class="bi bi-speedometer2"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_cars' %}"><i class="bi bi-car-front"></i> Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_bookings' %}"><i class="bi bi-calendar-check"></i> Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_users' %}"><i class="bi bi-people"></i> Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'revenue_dashboard' %}"><i class="bi bi-graph-up"></i> Revenue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'analytics_dashboard' %}"><i class="bi bi-bar-chart"></i> Analytics</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-10 ms-sm-auto px-4 py-4">
            {% block admin_content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}
